<section>
    <h3>Liste des vols dont le personnel doit être attribué</h3>
    <article>
        <input [(ngModel)]="filtreModele" name="filtre">
        <table>
            <thead>
                <tr>
                    <td>code</td>
                    <td>Modèle d'avion</td>
                    <td>Date de départ</td>
                    <td>Durée du vol</td>
                    <td>Aéroport de départ</td>
                    <td>Aéroport d'arrivée</td>
                    <td>Personnel déjà attribué</td>
                </tr>
            </thead>
            <tr *ngFor="let v of compagnies.listeVols | avions:filtreModele">
                <td>{{ v.data.code }}</td>
                <td>{{ v.data.avion.modele }}</td>
                <td>{{ v.data.date }}</td>
                <td>{{ v.data.duree }}</td>
                <td>{{ v.data.aeroportDepart }}</td>
                <td>{{ v.data.aeroportArrivee }}</td>
                <td>
                    <ul>
                        <li *ngFor="let p of v.data.personnel">{{ p.nom | uppercase }}, {{ p.prenoms[0] }} ({{ p.habilitation }})</li>
                    </ul>
                </td>
            </tr>
        </table>
    </article>
</section>