<section>
    <h2>Se connecter</h2>
    <h3>Vous devez être connecté pour gérer les vols</h3>
    <form (submit)="checkFromFirebase()" #f="ngForm">
        <label>Identifiant</label>
        <input name="id" [(ngModel)]="id.id" required #ctlId="ngModel" placeholder="Saisissez votre identifiant">
        <span *ngIf="ctlId.invalid">Ce champs est requis</span>
        <label>Mot de passe</label>
        <input name="passe" type="password" #ctlPasse="ngModel" [(ngModel)]="id.passe" required>
        <span *ngIf="ctlPasse.invalid">Ce champs est requis</span>
        <input type="submit" value="Connexion" [disabled]="f.invalid">
        <input type="reset" value="Annuler">
    </form>
</section>