/* You can add global styles to this file, and also import other style files */
form {
    display: flex;
    flex-flow: column nowrap;
}
form > * {
    margin: 5px auto;
}

input {
    border: solid 1px yellow;
}

input.ng-valid {
    border-bottom: solid 1px green;
}

input.ng-invalid {
    border-bottom: solid 1px red;
}

input.ng-untouched {
    background-color: rgba(255, 0, 0, .5);
}

input.ng-touched {
    background-color: rgba(0, 255, 0, .5);
}